#lastupdateddiv {
    position: absolute;
    bottom: 10%;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    z-index: 10000;
    border: 1px solid #808BA0;
}

#lastupdatedivparent {
    display: flex;
    justify-content: center;
    
}

#indexdock_sidebar {
    left:0;
    width: 30%;
}

#indexdock_map {
    right: 0;
    margin-left: 10px;
    width: calc(70% - 10px);

}

#indexBANNER_giveusyourcookies {
    background: rgb(255,213,161);
    background: -moz-linear-gradient(180deg, rgba(255,213,161,1) 0%, rgba(255,193,123,1) 37%, rgba(255,179,86,1) 45%, rgba(255,171,61,1) 46%, rgba(255,175,68,1) 48%, rgba(253,187,81,1) 58%, rgba(254,211,106,1) 76%, rgba(254,220,117,1) 99%, rgba(255,230,114,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255,213,161,1) 0%, rgba(255,193,123,1) 37%, rgba(255,179,86,1) 45%, rgba(255,171,61,1) 46%, rgba(255,175,68,1) 48%, rgba(253,187,81,1) 58%, rgba(254,211,106,1) 76%, rgba(254,220,117,1) 99%, rgba(255,230,114,1) 100%);
    background: linear-gradient(180deg, rgba(255,213,161,1) 0%, rgba(255,193,123,1) 37%, rgba(255,179,86,1) 45%, rgba(255,171,61,1) 46%, rgba(255,175,68,1) 48%, rgba(253,187,81,1) 58%, rgba(254,211,106,1) 76%, rgba(254,220,117,1) 99%, rgba(255,230,114,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffd5a1",endColorstr="#ffe672",GradientType=1);
    border: 2px solid rgba(127,127,127,0.5);
    text-align: center;
    color: black;
    padding: 3px;
    font-family: arial;
    font-weight: bold;
}

.CROWBARUI_FloatingSection {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #808BA0;
}

.CROWBARUI_SectionHeader {
    background: #808BA0;
    color: black;
    font-family: Arial;
    text-align: center;
    padding: 3px;
    margin: 0;
}

.CROWBARUI_SectionContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.CROWBARUI_FlexiWide {
    display: flex;
    flex-direction: row;
    min-height: 800px;
}

.CROWBARUI_FlexiTall {
    display: flex;
    flex-direction: column;
    min-height: 800px;
}

.CROWBARUI_ContatinerContentCenter {
    text-align: center;
}

.CROWBARUI_ContatinerContentHR {
    width: 100%;
    border-color: #808BA0;
}
