@using CrowbarWebsite.Services;
@using Microsoft.AspNetCore.Identity
@using CrowbarWebsite.Helpers;
@inject SignInManager<DynamoIdentityUser> SignInManager
@inject UserManager<DynamoIdentityUser> UserManager
@using AspNetCore.Identity.DynamoDB
@using CrowbarWebsite.Services;
@{
    ViewData["Title"] = "CROWBAR";
}

<body id="mapbody">
    @if (!SignInManager.IsSignedIn(User))
    {
        <div id="indexBANNER_giveusyourcookies">
            Login or Register to access all site features!
        </div>
        <partial name="Map" />
    }
    else
    {
        <div id="indexdock_sidebar">
            <partial name="InteractiveSideBar" model="UserPref.GenerateFromSESSION(Context.Session)" />
        </div>
        <div id="indexdock_map">
            <partial name="Map" />
        </div>
    }
</body>

<script>
    $(function () {
        setInterval(function () { $('#mapbody').load('/Home/Map'); }, @CacheService.RecommendedTTL); //Automatic Refresh Timer
    });
</script>