@using CrowbarWebsite.Services;
@using Microsoft.AspNetCore.Identity
@using CrowbarWebsite.Helpers;
@using CrowbarWebsite.Services;
@using AspNetCore.Identity.DynamoDB
@inject SignInManager<DynamoIdentityUser> SignInManager
@inject UserManager<DynamoIdentityUser> UserManager

@{
    ViewData["Title"] = "CROWBAR";
}

<body id="mapbody">
    @if (!SignInManager.IsSignedIn(User))
    {
        <div id="indexBANNER_giveusyourcookies">
            Login or Register to access all site features!
        </div>
            <partial name="Map" />
    }
    else
    {
        /* <div id="indexdock_sidebar">
            <partial name="InteractiveSideBar" model="UserPref.GenerateFromSESSION(Context.Session)" />
        </div>
        <div id="indexdock_map">
            <partial name="Map" />
        </div>*/
        <div class="CROWBARUI_FlexiWide">
            <div id="indexdock_sidebar">
                <partial name="InteractiveSideBar" model="UserPref.GenerateFromSESSION(Context.Session)" />
            </div>
            <div id="indexdock_map">
                <partial name="Map" />
            </div>
        </div>
    }
</body>

