@model List<StaticCamera>
@using CrowbarWebsite.Services;
@{
    ViewData["Title"] = "CROWBAR";
}



<body id="mapbody">
    @Html.Partial("Map", Model);
</body>

<script>

    $(function () {

        setInterval(function () { $('#mapbody').load('/Home/Map'); }, @CacheService.RecommendedTTL); //Automatic Refresh Timer

    });

</script>

