@model IEnumerable<StaticCamera>
@{
    ViewData["Title"] = "Home Page";
}


<head>
    <script src="https://maps.googleapis.com/maps/api/js?"></script>
    <!--Include Leaflet-->
    <link rel="stylesheet" href="~/lib/Leaflet/leaflet.css" />
    <script src="~/lib/Leaflet/leaflet.js"></script>
</head>
<body onload="DisplayGoogleMap()">
    <div id="myDiv" style="width:100%;height:800px;"></div>
    <div id="ljsmap" style="width:100%;height:800px;">

    </div>

   
    <!--Setup map-->
    <script>
        var mymap = L.map('ljsmap').setView([-41.2177074, 178.1841412], 5.96);
        L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '<a href="https://www.openstreetmap.org/copyright">© OpenStreetMap contributors</a>',
            maxZoom: 18,
            tileSize: 512,
            zoomOffset: -1
        }).addTo(mymap);
        //Create Icons
        var redIcon = L.icon({
            iconUrl: './lib/Leaflet/images/marker-icon-red.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [0, -41]
        });
        var blueIcon = L.icon({
            iconUrl: './lib/Leaflet/images/marker-icon.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [0, -41]
        });
    </script>

    @foreach (var item in Model)
    {
        if (item.Type == "STATIC")
        {
            <script>
            var marker = L.marker([@item.StartPos.Latitude, @item.StartPos.Longtitude], {
                icon: blueIcon
            });
            marker.bindPopup('@item.Installed');
    marker.addTo(mymap);
            </script>
        }
        else
        {
            <script>
            var marker = L.marker([@item.StartPos.Latitude, @item.StartPos.Longtitude], {
                icon: redIcon
            });
            marker.bindPopup('@item.Installed');
    marker.addTo(mymap);
            </script>
        }
    }

</body>

