@using CrowbarWebsite.Models;
@model UserPref;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="CROWBARUI_FloatingSection">
    <H5 class="CROWBARUI_SectionHeader">
        Filter Elements
    </H5>
    <div class="CROWBARUI_SectionContainer">
        <span>
            @(Html.CheckBox("xui_cfg-scams", Model.CFG__SHOW_SCAMS, new { @onclick = "x32_scams()" })) Show Static Cameras
        </span>
        <span>
            @(Html.CheckBox("xui_cfg-rcams", Model.CFG__SHOW_RCAMS, new { @onclick = "x32_rcams()" })) Show Traffic Cameras
        </span>
    </div>

</div>

<script>
    function x32_scams() {
        SubmitPref('@UserPref.SNAMES[UserPrefProps.SHOW_STATIC_CAMERAS]', $("#xui_cfg-scams").prop("checked"));
    }
    function x32_rcams() {
        SubmitPref('@UserPref.SNAMES[UserPrefProps.SHOW_STATIC_CAMERAS]', $("#xui_cfg-rcams").prop("checked"));
    }


    //Reload Map
    function SubmitPref(pref, val) {
          $.ajax({
              url: '/Home/SetSessionPrefs?pref='+pref+'&value='+val,
              type: 'POST',
              dataType: "json",
              cache: false,
              success: function (data) {
                  //do stuff;
                  $('#indexdock_map').load('/Home/Map');
              },
              error: function () {
                console.log("no display");
              }
          });
      }
</script>
